# entorno virtual y variables
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite3-journal

# editores / IDEs
.idea/
.vscode/

#base local
db.sqlite3
