{% extends 'base.html' %}
{% block title %} Detalle de Recorrido {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Detalle de Recorrido</h2>
</div>
<div class="d-flex justify-content-center">
    <div class="card w-50 mb-3 text-bg-light">
        {% if recorrido.imagen %}
            <img src="{{ recorrido.imagen.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h4 class="card-title d-inline">{{ recorrido.nombre }}</h4>
            <p class="card-text"><strong>Descripcion: </strong>{{ recorrido.descripcion }}</p>
            <p class="card-text"><strong>Puntos turisticos: </strong>
                {% for punto in recorrido.puntos_turisticos.all %}
                    *{{ punto.nombre }}
                {% empty %}
                    El Recorrido no tiene puntos turisticos asignados
                {% endfor %}
            </p>
            <p class="card-text"><strong>hora de salida: </strong>{{ recorrido.hora_salida}}</p>
            <p class="card-text"><strong>hora de llegada: </strong>{{ recorrido.hora_llegada}}</p>
            <p class="card-text"><strong>Precio: </strong>{{ recorrido.precio }}</p>



            <div class="d-flex justify-content-center mt-3 flex-wrap gap-3">
                {% if user.is_authenticated %}
                    {% if es_admin %}
                        <!-- Botones solo para administradores -->
                        <div>
                            <a href="{% url 'reservas:agregar_recorrido' %}" class="btn btn-secondary btn-action w-100">Añadir otro recorrido</a>
                        </div>
                        <div>
                            <a href="{% url 'reservas:editar_recorrido' recorrido.pk %}" class="btn btn-primary btn-action w-100">Editar</a>
                        </div>
                        <div>
                            <form action="{% url 'reservas:eliminar_recorrido' recorrido.pk %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-action w-100">Eliminar</button>
                            </form>
                        </div>
                    {% else %}
                        <!-- Botón solo para turistas -->
                        <div>
                            <a href="{% url 'reservas:reservas_crear' %}?recorrido={{ recorrido.id }}" class="btn btn-success btn-action w-100">
                                Reservar
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    <!-- Usuario no logueado -->
                    <div>
                        <a href="{% url 'usuario:login' %}" class="btn btn-outline-primary btn-action w-100">
                            Iniciar sesión para reservar
                        </a>
                    </div>
                {% endif %}
            </div>


        </div>
    </div>
</div>
{% endblock %}
