

{% extends 'base.html' %}

{% block title %}Gestion Recorridos {% endblock %}

{% block content %}

<div class="container mb-8">

    <form  method="post" id="form_recorrido" enctype="multipart/form-data" class="p-4 border rounded bg-light">
        {% csrf_token %}

        <h3 class="mb-4">Crear/Modificar Recorrido</h3>

        <div class="row mb-5">

            <!-- Nombre y Precio -->
            <div class="col-md-6">
                <p class="obligatorio"></p>
                {{form.nombre.label_tag}}
                {{form.nombre}}
                {%if form.nombre.errors%}
                    <div class="text-danger">{{form.nombre.errors}}</div>
                {%endif%}
            </div>
            <div class="col-md-6">
                {{form.precio.label_tag}}
                {{form.precio}}
                {%if form.precio.errors%}
                    <div class="text-danger">{{form.precio.errors}}</div>
                {%endif%}
            </div>

        </div>

        <!-- Horas y Estado -->
        <div class="row mb-5">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        {{form.hora_salida.label_tag}}
                        {{form.hora_salida}}
                    </div>
                    <div class="col-md-4">
                        {{form.hora_llegada.label_tag}}
                        {{form.hora_llegada}}
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                {{form.estado.label_tag}}
                {{form.estado}}
            </div>

        </div>

        <div class="row mb-5">

            <div class="col-md-6">
                {{form.descripcion.label_tag}}
                {{form.descripcion}}
            </div>
            <div class="col-md-6">
                {{ form.imagen.label_tag }}
                {{ form.imagen }}
                {% if form.imagen.errors %}
                    <div class="text-danger">{{ form.imagen.errors }}</div>
                {% endif %}
            </div>

        </div>

        <div class="row mb-5">


            <div class="col-md-6">
                {{form.puntos_turisticos.label_tag}}
                {{form.puntos_turisticos}}
            </div>
            <a href="{% url 'reservas:agregar_punto' %}" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Agregar nuevo Punto turistico</a>

        </div>


        <div class="btn_position">
            <input type="reset" value="Cancelar" class="btn btn-cancelar">
            <input type="submit" value="Aceptar" class="btn btn-formulario">
        </div>

    </form>

    <hr>
    <h3>Recorridos Existentes</h3>

    <!--Tabla-->
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Hora de salida</th>
                <th>Descripcion</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for recorrido in recorridos %}
            <tr>
                <td>{{recorrido.nombre}}</td>
                <td>{{recorrido.precio}}</td>
                <td>{{recorrido.hora_salida}}</td>
                <td>
                    {% if recorrido.estado %}
                        <span class="text-success">Activo</span>
                    {% else %}
                        <span class="text-danger">Inactivo</span>
                    {% endif %}
                </td>
                 <td>
                     <form action="url 'reservas:eliminar_recorrido' recorrido.pk" method="POST" class="form_eliminar_punto">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que quieres eliminar este punto?');">
                            Eliminar
                        </button>
                         <a href="{% url 'reservas:editar_recorrido' recorrido.pk %}" class="btn btn-formulario">Editar</a>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No hay puntos Recorridos registrados.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

