
/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
}

/* Banner */
.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover;   /* recorta y mantiene proporción */
    display: block;
}

/* Header */
header {
    background-color: #e65100; /* naranja oscuro */
    color: black;
    border-bottom: 4px solid #bf360c;
    text-align: center;
    padding-bottom: 10px;
}

/* Nav */
.nav-link {
    color: rgb(26, 68, 237) !important;
    font-weight: 500;
}
.nav-link:hover {
    color: #f6ad41 !important;
}
.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #73e4f8;
}

/* Encabezados */
h2 {
    text-align: center;
    margin-top: 20px;
    color: #bf360c;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    /*background-color: #ffffff;
    border: 2px solid #ff9800;
    border-radius: 10px;*/
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #e65100;
}

/*login*/
.formulario h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

form .username{
  position: relative;
  border-bottom: 1px solid silver;
  margin: 30px 0;
}

.username input{
  width: 100%;
  padding: 0px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.username label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}
.username input:focus ~ label,
.username input:focus ~ label{
    top:-5px;
    color: #F54927;
}

.iniciar {
  text-align: center;
  margin-top: 30px;
}
.btn-iniciar{
    color: #079C77;
    border-color: #079C77;
}
.btn-iniciar:hover{
    color: white;
    border-color: #079C77;
    background-color: #079C77;
}

/*input[type="text"],*/
input[type="email"],
input[type="date"],
input[type="tel"],
input[name="Nombre"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botones */
.btn-success {
    background-color: #e65100;
    border: none;
}
.btn-success:hover {
    background-color: #bf360c;
}
.btn-danger {
    background-color: #b71c1c;
    border: none;
}
.btn-danger:hover {
    background-color: #7f0000;
}

.btn-detalle{
    background-color: #e65100;
    border: none;
}

.btn-detalle:hover{
    background-color: #bf360c;
    color: white;
}

.btn-reservar{
    color: #079C77;
    border-color: #079C77;
    width: 200px;     /* ancho fijo */
    padding: 10px 20px; /* espacio interno */
    font-weight: 600;
}

.btn-reservar:hover{
    color: white;
    border-color: #079C77;
    background-color: #079C77;
}

.btn-editar{
    color: #e65100;
    border-color: #e65100;
}

.btn-editar:hover{
    color: white;
    border-color: #e65100;
    background-color: #e65100;
}


/* Footer */
footer {
    background-color: #e65100;
    color: white;
}
.btn-action {
    min-width: 150px;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.btn-action:hover {
    transform: scale(1.05);
}

form.d-inline {
    margin: 0;
}
