
<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Gestion de recorridos</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/gestionRecorridos.css'%}">
    </head>

    <body>


        <!--contenedor de la cabezera-->
        <div class="mb-4">

            <header>
                <img src="{% static 'img/imagen1.jpg'%}" class="banner-img"/>
                <h1 class="text-center mt-3">Gestionar Recorridos</h1>
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="Pagina1.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" href="GestionRecorridos.html">Recorridos</a></li>
                        <li class="nav-item"><a class="nav-link" href="Pagina3.html">Reserva</a></li>
                    </ul>
                </nav>
            </header>
        </div>

            <!--contenedor del cuerpo de la pagina-->
        <div class="container mb-8">

            <form  method="post" id="form_recorrido" enctype="multipart/form-data">
                {% csrf_token %}

                <h3 class="mb-4">Formulario para agregar recorrido</h3>

                <div class="row mb-5">

                    <!-- Nombre y Precio -->
                    <div class="col-md-6">
                        <p class="obligatorio"></p>
                        {{form.nombre.label_tag}}
                        {{form.nombre}}
                        {%if form.nombre.errors%}
                            <div class="text-danger">{{form.nombre.errors}}</div>
                        {%endif%}
                    </div>
                    <div class="col-md-6">
                        {{form.precio.label_tag}}
                        {{form.precio}}
                        {%if form.precio.errors%}
                            <div class="text-danger">{{form.precio.errors}}</div>
                        {%endif%}
                    </div>

                </div>

                <!-- Horas y Estado -->
                <div class="row mb-5">

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                {{form.hora_salida.label_tag}}
                                {{form.hora_salida}}
                            </div>
                            <div class="col-md-4">
                                {{form.hora_llegada.label_tag}}
                                {{form.hora_llegada}}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        {{form.estado.label_tag}}
                        {{form.estado}}
                    </div>

                </div>

                <div class="row mb-5">

                    <div class="col-md-6">
                        {{form.descripcion.label_tag}}
                        {{form.descripcion}}
                    </div>
                    <div class="col-md-6">
                        {{ form.imagen.label_tag }}
                        {{ form.imagen }}
                        {% if form.imagen.errors %}
                            <div class="text-danger">{{ form.imagen.errors }}</div>
                        {% endif %}
                    </div>

                </div>

                <div class="row mb-5">


                    <div class="col-md-6">
                        {{form.puntos_turisticos.label_tag}}
                        {{form.puntos_turisticos}}
                    </div>

                </div>


                <div class="btn_position">
                    <input type="reset" value="Cancelar" class="btn btn-cancelar">
                    <input type="submit" value="Aceptar" class="btn btn-formulario">
                </div>

            </form>

        </div>

        <footer class="text-center mt-4 p-3 ">
            <p>© 2025 CityTur Catamarca</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="{% static 'js/validacion2.js' %}"></script>

    </body>
</html>