
<!DOCTYPE html>
{% load static %}
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Gestion de recorridos</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/gestionRecorridos.css'%}">
    </head>

    <body>


        <!--contenedor de la cabezera-->
        <div class="mb-4">

            <header>
                <img src="{% static 'img/imagen1.jpg'%}" class="banner-img"/>
                <h1 class="text-center mt-3">Gestionar Recorridos</h1>
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="Pagina1.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" href="GestionRecorridos.html">Recorridos</a></li>
                        <li class="nav-item"><a class="nav-link" href="Pagina3.html">Reserva</a></li>
                    </ul>
                </nav>
            </header>
        </div>

            <!--contenedor del cuerpo de la pagina-->
        <div class="container mb-8">

<!--            <section id="agregar_recorrido" class="mb-5">-->
<!--                &lt;!&ndash;disparador para mostrar el panel oculto&ndash;&gt;-->
<!--                <p class="d-inline-flex gap-1">-->
<!--                    <a class="btn btn-disparador" data-bs-toggle="collapse" href="#agregar" role="button" aria-expanded="false" aria-controls="agregar">-->
<!--                        Agregar Recorrido-->
<!--                    </a>-->

<!--                </p>-->

                <!--panel colapsable (dentro del div va todo lo oculto)-->
<!--                <div class="collapse" id="agregar">-->
                    <form  method="post" id="form_recorrido">
                        {% csrf_token %}

                        <h3 class="mb-4">Formulario para agregar recorrido</h3>

                        <div class="row mb-5">

                            <div class="col-md-6">
                                <p class="obligatorio"></p>
                                <label for="{{form.nombre.id_for_label}}">Nombre del recorrido</label>
                                {{form.nombre}}
                            </div>
                            <div class="col-md-6">
                                <label for="{{form.precio.id_for_label}}">Precio del recorrido</label>
                                {{form.precio}}
                            </div>

                        </div>

                        <div class="row mb-5">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="{{form.hora_salida.id_for_label}}">horario de salida</label>
                                        {{form.hora_salida}}
                                    </div>
                                    <div class="col-md-4">
                                        <label for="{{form.hora_llegada.id_for_label}}">horario de llegada</label>
                                        {{form.hora_llegada}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="{{form.estado.id_for_label}}">Estado del recorrido</label>
                                {{form.estado}}
                            </div>

                        </div>

                        <div class="row mb-5">

                            <div class="col-md-6">
                                    <label for="{{form.descripcion.id_for_label}}">Descripcion del recorrido</label>
                                     {{form.descripcion}}
                            </div>

                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <label for="{{form.paradas.id_for_label}}">Paradas del recorrido</label>
                                {{form.paradas}}
                            </div>
                        </div>


                        <div class="btn_position">
                            <input type="reset" value="Cancelar" class="btn btn-cancelar">
                            <input type="submit" value="Aceptar" class="btn btn-formulario">
                        </div>

                    </form>
<!--                </div>-->
<!--            </section>-->

        </div>

        <footer class="text-center mt-4 p-3 ">
            <p>© 2025 CityTur Catamarca</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="{% static 'js/validacion2.js' %}"></script>

    </body>
</html>